// main: coolform.less
//////////////////////

/* coolSelect */

@-moz-document url-prefix(){    /* Firefox */
	select {
		&.cool-select {
			.cool-select();
			-moz-appearance: none;
		}
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {    /* Chrome, Safari, Opera */
	select {
		&.cool-select {
			.cool-select();
			-webkit-appearance: none;
		}
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {    /* IE10+ */
	select {
		&.cool-select {
			.cool-select();
			
			&::-ms-expand {    // IE10+
				display: none;
			}
		}
	}
}

select {
	&.cool-select {
		cursor: pointer;
        line-height: normal;
		text-indent: 0.01px;
		text-overflow: "";
		
		&[disabled],
		&[readonly], 
		fieldset[disabled] & {
			.cool-select-disabled();
		}
		
		// Override background property for input multiple
		&[multiple] {
			background-image: none;
		}
	}
}
